# Set update schedule for GitHub Actions
# Only checking for action updates as we are using the custom
# requirements bot for application dependency upgrades

version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every weekday
      interval: "daily"

